<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>General Practitioner - Overview</title>
    <meta content="GeneralPractitioner" name="page">
    <placeholder th:replace="fragments/main.html :: head"></placeholder>
</head>
<body>

<header th:replace="fragments/main.html :: header"></header>

<div class="container">

    <h4>General Practitioner - Overview</h4>

    <div class="section" th:if="*{successfulAction}">
        <div class="card green lighten-2">
            <div class="card-content white-text">
                <p th:if="*{successfulAction.contains('create')}">
                    New general practitioner account successfully created.
                </p>
                <p th:if="*{successfulAction.contains('edit')}">
                    General practitioner account successfully edited.
                </p>
                <p th:if="*{successfulAction.contains('delete')}">
                    General practitioner account successfully deleted.
                </p>
            </div>
        </div>
    </div>

    <div class="section">
        <table class="highlight">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Street</th>
                <th>Zip</th>
                <th>City</th>
                <th>Country</th>
                <th>Phone Number</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="generalPractitioner, iter: ${generalPractitioners}"
                th:id="${generalPractitioner.id + '-tr'}">

                <!-- gp information -->
                <td th:text="${generalPractitioner.firstName}"></td>
                <td th:text="${generalPractitioner.lastName}"></td>
                <td th:text="${generalPractitioner.address.street}"></td>
                <td th:text="${generalPractitioner.address.zip}"></td>
                <td th:text="${generalPractitioner.address.city}"></td>
                <td th:text="${generalPractitioner.address.country}"></td>
                <td th:text="${generalPractitioner.phoneNumber}"></td>

                <!-- delete/edit buttons -->
                <td>
                    <form action="/general-practitioner/delete" method="post">
                        <input name="general_practitioner_id" th:value="${generalPractitioner.id}" type="hidden" class="validate">
                        <button class="btn-small waves-effect waves-light red lighten-2" type="submit" name="action">
                            <i class="material-icons center">delete</i>
                        </button>
                    </form>
                </td>
                <td>
                    <form action="/general-practitioner/edit" method="post">
                        <input name="general_practitioner_id" th:value="${generalPractitioner.id}" type="hidden" class="validate">
                        <button class="btn-small waves-effect waves-light blue lighten-2" type="submit" name="action">
                            <i class="material-icons center">edit</i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="section">
        <a href="/general-practitioner/create" class="waves-effect waves-light btn-large blue lighten-2"
           style="width: 100%">
            <i class="material-icons right">add</i>
            New General Practitioner
        </a>
    </div>

</div>

<footer th:replace="fragments/main.html :: footer"></footer>

</body>
</html>