<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Care Provider - Overview</title>
    <meta content="CareProvider" name="page">
    <placeholder th:replace="fragments/main.html :: head"></placeholder>
</head>
<body>

<header th:replace="fragments/main.html :: header"></header>

<div class="container">

    <h4>Care Provider - Overview</h4>

    <div class="section" th:if="*{successfulAction}">
        <div class="card green lighten-2">
            <div class="card-content white-text">
                <p th:if="*{successfulAction.contains('create')}">
                    New care provider account successfully created.
                </p>
                <p th:if="*{successfulAction.contains('edit')}">
                    Care provider account successfully edited.
                </p>
                <p th:if="*{successfulAction.contains('delete')}">
                    Care provider account successfully deleted.
                </p>
            </div>
        </div>
    </div>

    <div class="section">
        <table class="highlight">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Street</th>
                <th>Zip</th>
                <th>City</th>
                <th>Country</th>
                <th>Phone Number</th>
                <th>Specialism</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="careProvider, iter: ${careProviders}"
                th:id="${careProvider.id + '-tr'}">

                <!-- cp information -->
                <td th:text="${careProvider.firstName}"></td>
                <td th:text="${careProvider.lastName}"></td>
                <td th:text="${careProvider.address.street}"></td>
                <td th:text="${careProvider.address.zip}"></td>
                <td th:text="${careProvider.address.city}"></td>
                <td th:text="${careProvider.address.country}"></td>
                <td th:text="${careProvider.phoneNumber}"></td>
                <td th:text="${careProvider.specialism.displayValue}"></td>

                <!-- delete/edit buttons -->
                <td>
                    <form action="/care-provider/delete" method="post">
                        <input name="care_provider_id" th:value="${careProvider.id}" type="hidden" class="validate">
                        <button class="btn-small waves-effect waves-light red lighten-2" type="submit" name="action">
                            <i class="material-icons center">delete</i>
                        </button>
                    </form>
                </td>
                <td>
                    <form action="/care-provider/edit" method="post">
                        <input name="care_provider_id" th:value="${careProvider.id}" type="hidden" class="validate">
                        <button class="btn-small waves-effect waves-light blue lighten-2" type="submit" name="action">
                            <i class="material-icons center">edit</i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="section">
        <a href="/care-provider/create" class="waves-effect waves-light btn-large blue lighten-2"
           style="width: 100%">
            <i class="material-icons right">add</i>
            New Care Provider
        </a>
    </div>

</div>

<footer th:replace="fragments/main.html :: footer"></footer>

</body>
</html>